/* ==========================================================================
    Header
   ========================================================================== */

@import '../../../assets/scss/imports';

.hud__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 300;

    display: flex;
    justify-content: space-between;
    padding: 3rem 4rem;

    @media (min-width: $screen-md-min) {
        padding: 6rem 13rem 3rem;
    }
}

.hud__logo-link {
    display: inline-block;
    flex: 0 0 auto;
}

.hud__logo-link__logo {
    fill: $color-greyscale-000;
}

.hud__anchors {

    display: none;
    gap: 3rem;
    align-items: center;

    @media (min-width: $screen-md-min) {
        display: flex;
    }
}

.hud__anchor {
    display: inline-block;

    font-size: max(1.5vw, 1.8rem);
    line-height: 1;
    color: $color-greyscale-000;
    text-decoration: none;
    text-transform: uppercase;
}
