/* ==========================================================================
    Header
   ========================================================================== */

@import '../../../assets/scss/imports';

.main-header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 300;

    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    mix-blend-mode: difference;

    @media (min-width: $screen-md-min) {
        padding: 6rem;
    }
}

.main-header__logo-link {
    display: inline-block;
    flex: 0 0 auto;
}

.main-header__logo-link__logo {
    fill: $color-greyscale-300;
    mix-blend-mode: difference;
}

.main-header__anchors {
    display: flex;
    gap: 3rem;
    align-items: center;
    transform: rotate(-180deg);

    writing-mode: vertical-lr;
}

.main-header__anchor {
    font-size: max(1.5vw, 1.8rem);
    color: $color-greyscale-300;
    text-decoration: none;
    text-transform: uppercase;
}
