/* ==========================================================================
   Cookies modal
   ========================================================================== */

/* Imports
   ========================================================================== */
@import "../../../assets/scss/imports";

.CookiesModal {
    height: 90%;
    width: 60%;

    color: $color-text;

    .modal__content {
        padding: 3rem;

        h2 {
            margin: 0;

            font-size: 10ch;
            color: $color-text;
        }

        h3 {
            margin: 4rem  0 0;

            font-size: 7ch;
        }
    }
}

.CookiesModal__settings {
    margin-top: 3rem;
}

.CookiesModal__settings__action {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    padding: 3rem 0;

    background-color: $color-greyscale-300;

    border-top: 1px solid $color-greyscale-000;

    text-align: right;
}
