/* ==========================================================================
    Cookie consent
   ========================================================================== */
@import "../../../assets/scss/imports";


.CookieConsent {
    max-width: 650px;
    width: 60%;
    padding: 3rem;

    p {
        margin: 0;
    }

    a {
        color: $color-text;
        font-size: 1em;
        font-weight: inherit;
        letter-spacing: normal;
    }

    .CookieConsent__actions {
        margin-top: 3rem;

        text-align: center;
    }

    @media (max-width: $screen-xs-max) {
        width: 95%;
    }
}
