/* ==========================================================================
    Cookie consent
   ========================================================================== */
@import "../../../assets/scss/imports";


.CookieConsent {
    max-width: 650px;
    width: 60%;

    font-size: 15px;

    p {
        font-size: 1em;
    }

    a {
        font-size: 1em;
        font-weight: inherit;
        letter-spacing: normal;
    }

    .CookieConsent__actions {
        text-align: center;
    }

    @media (max-width: $screen-xs-max) {
        width: 95%;

        .modal__content {
            padding: spacing(sm) spacing(md) spacing(md);
        }
    }
}
