/* ==========================================================================
   Button
   ========================================================================== */

/* Imports
   ========================================================================== */
@import "../../../assets/scss/imports";
@import "../../../assets/scss/core/buttons";

.button {
    @include button-reset();

    position: relative;

    padding: .9em 1.4em;

    border-radius: 0;

    font-size: max(1.8rem, 1.5vw);
    line-height: 1;
    font-weight: $font-weight--medium;
    color: $color-greyscale-300;
}

.button--primary {
    background: $color-greyscale-000;

    &:not(:disabled) {
        @include hover-focus() {
            background-color: $color-greyscale-100;
        }

        &:active {
            background-color: $color-greyscale-000;
        }
    }
}

.button--secondary {
    background: $color-greyscale-300;

    color: $color-greyscale-000;

    &:not(:disabled) {
        @include hover-focus() {
            background-color: $color-greyscale-100;
        }

        &:active {
            background-color: $color-greyscale-300;
        }
    }
}

.button--text {
    color: $color-text;
    text-decoration: underline;
}
