/* ==========================================================================
   Hero
   ========================================================================== */

@import '../../../assets/scss/imports';

.hero {
    position: relative;
    z-index: 1;

    width: 100%;
    margin-bottom: 10rem;
}


.hero__content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width: $screen-md-min) {
    }
}

.hero__title {
    margin: 0;

    line-height: .8;
    color: $color-greyscale-000;
    text-transform: uppercase;

    small {
        text-transform: none;
    }
}
