/* ==========================================================================
   Hero
   ========================================================================== */

@import '../../../assets/scss/imports';

.hero {
    position: relative;
    z-index: 1;

    width: 100%;
    min-height: 50vh;
    margin-bottom: 15vh;
    padding: 10.5rem 2rem 3rem;

    @media (min-width: $screen-sm-min) {
        min-height: auto;
    }

    @media (min-width: $screen-md-min) {
        padding: 13.5rem 10rem 3rem;
    }
}


.hero__content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width: $screen-md-min) {
    }
}

.hero__title {
    margin: 0;

    line-height: .8;
    color: $color-greyscale-000;

    small {
        display: block;
        margin-top: .4em;

        text-transform: none;
        font-family: $font-family--base;
        font-weight: $font-weight--light;
        font-size: .7em;
    }
}
