/* ==========================================================================
   forms
   ========================================================================== */

.form-group-wrapper {
    + .form-group-wrapper,
    + .form-group {
        margin-top: spacing(md);
    }

    @media (min-width: $screen-sm-min) {
        display: flex;

        .form-group {
            flex: 1;
            margin: 0;
        }

        .form-group + .form-group {
            margin: 0 0 0 spacing(md);
        }
    }
}

.form-group {
    position: relative;

    display: block;

    + .form-group {
        margin-top: 2rem;
    }

    &--has-error {
        .form-control {
            border-color: $color-error;
        }

        .form-label {
            color: $color-error;
        }
    }
}

.form-label {
    position: relative;

    display: block;

    font-size: max(1.8rem, 1.5vw);
    font-weight: $font-weight--medium;

    span {
        position: absolute;
        top: -.95rem;
        left: 2rem;
        z-index: 0;

        display: inline-block;
        padding: .3rem;
        transform: translate3d(0, calc(50% + .4rem), 0);

        color: $color-greyscale-300;
        font-size: 1em;

        transition: transform .3s $snip-ease-sine-in-out, font-weight .3s $snip-ease-sine-in-out;
    }

    .form-group--has-error & > input:not(:placeholder-shown) ~ span,
    &:focus-within > span {
        transform: none;

        background: $color-greyscale-000;

        border-radius: 0;

        font-size: .6em;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px $color-greyscale-000 inset !important;
    -webkit-text-fill-color: $color-greyscale-300 !important;

    background-color: $color-greyscale-000 !important;

    color: $color-greyscale-300 !important;
}

.form-control {
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 2rem;

    background: transparent;

    border: .2rem solid $color-greyscale-300;

    text-transform: uppercase;
    font-size: max(1.8rem, 1.5vw);
    color: $color-greyscale-300;

    &::placeholder {
        opacity: 0;
    }

    &:focus-visible {
        outline: .2rem dashed $color-focus;
        outline-offset: .4rem;

        text-decoration: none;
    }

    &:focus,
    &:active {
        border-color: $color-greyscale-300;
    }

    &:not(:placeholder-shown) + span {
        transform: none;

        background: $color-greyscale-000;

        font-weight: $font-weight--medium;
        font-size: .6em;
    }

    @include nonKeyboardfocus() {
        outline: none;
    }
}

textarea {
    min-height: 20rem;
}

.form-error {
    margin: 1rem 0 0 0;

    color: $color-error;
}

.form-label--file__content {
    text-align: center;
}

.form-label--file__file-name {
    display: block;
    margin-bottom: spacing(sm);
}


.form-control-wrapper {
    position: relative;
}
