/* ==========================================================================
   page section
   ========================================================================== */



.page-section {
    width: 100%;

    background-color: $color-greyscale-200;

    @media (min-width: $screen-md-min) {
    }
}

.page-section__content {
    position: relative;
    z-index: 1;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &--wide {
        max-width: 1400px;
    }

    &--narrow {
        max-width: 1000px;
    }

    @media (min-width: $screen-md-min) {
    }
}

.page-section__header {
    position: sticky;
    top: 5rem;
    z-index: 0;

    width: 100%;

    @media (min-width: $screen-md-min) {
        top: 13.5rem;
    }
}

.page-section__body {
    position: relative;
    z-index: 1;

    width: 100%;

    @media (min-width: $screen-md-min) {
        max-width: 60vw;
    }
}

.page-section__body__content {
    p {
        padding: 0 6rem 0 16rem;
    }
}

.page-section__title {
    margin-bottom: 3rem;
}

.page-section__title,
.page-section__sub-title {
    margin-top: 0;
}

.page-section__media {
    @media (min-width: $screen-md-min) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

.page-section__expo__type + .page-section__expo__type {
    margin-top: 3rem;
}

.page-section__expo__type__item {
    width: 60vw;
    flex: 1;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md-min) {
        width: 30vw;
    }
}

.page-section__media__item__image {
    flex: 1;
    width: 100%;

    object-fit: cover;
}

.page-section__media__item__title {
    margin: 0;
}

.page-section__media__item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 0;
}

.page-section__media__item__more {
    font-size: max(1.8rem, 1.5vw);
}

.page-section__expo__type {
    display: flex;

    gap: 3rem;
}

.page-section__expo__type__title {
    margin: 0;
    transform: rotate(180deg);

    font-size: max(1.8rem, 1.5vw);
    text-transform: uppercase;
    writing-mode: vertical-rl;
}

.page-section__expo__type__item {
    background: $color-greyscale-300;
}

.page-section__expo__item__content {
    flex: 1;
    padding: 3rem;

    p {
        margin: 0;

        + p {
            margin-top: 1rem;
        }
    }

    > * {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.page-section__expo__type__item__image {
    height: 45%;
    width: 100%;
    object-fit: cover;
}

.page-section__expo__item__title {
    margin-bottom: 2rem;
}
