/* ==========================================================================
   Core - Typography
   ========================================================================== */

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    color: $color-text;
    font-size: 10px;
    font-family: $font-family--base;
    line-height: $line-height--base;
}


/* Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.2em 0;

    font-weight: $font-weight--regular;
    font-family: $font-family--headings;
    color: $color-text;
    line-height: 1.2;
}

h1 {
    line-height: 1;
    font-size: max(14rem, 15vw);

    @media (min-width: $screen-md-min) {
    }
}

h2 {
    color: $color-greyscale-100;
    font-size: max(6rem, 12vw);
    line-height: 1;
}

h3 {
    line-height: 1.2;
    font-size: max(2.8rem, 4vw);
}

h4 {
    font-size: max(2.5rem, 3.5vw);
    font-family: $font-family--base;
    font-weight: $font-weight--medium;
}

h5 {
    font-size: max(2.2rem, 3vw);
    font-family: $font-family--base;
    font-weight: $font-weight--medium;
}

h6 {
    font-size: max(2rem, 2.5vw);
    font-family: $font-family--base;
    font-weight: $font-weight--medium;
}

.pre-title {
    margin: 0;

    text-transform: uppercase;
    font-size: 20px;
}


/* Bodycopy
   ========================================================================== */
p {
    margin: 1em 0;

    color: $color-text;
    font-size: max(1.8rem, 1.5vw);
    font-weight: $font-weight--light;
}

.intro-text,
.intro-text-pp p {
    font-size: 2vw;
    line-height: 1.2;
}

.text--right {
    text-align: right;
}

.text--center {
    text-align: center;
}

.text--legal {
    font-size: 12px;
}

.page-title {
    margin-top: 0;
}

.text--alt {
    color: $color-text-alt;
}

.text--intro {
    font-size: 25px;

    @media (min-width: $screen-md-min) {
        font-size: 35px;
    }
}
