/* ==========================================================================
   typography
   ========================================================================== */

/* Family
   ========================================================================== */
$font-family--base:         'Josefin Sans', Helvetica, Arial, sans-serif;
$font-family--headings:     'Yeseva One', Georgia, serif;


/* Font-sizes
      ========================================================================== */
$font-size--base:           1.8rem;


/* Font-weights
      ========================================================================== */
$font-weight--light:        300;
$font-weight--regular:      400;
$font-weight--medium:       600;


/* Line-height
      ========================================================================== */
$line-height--base:         1.5;
$line-height--small:        1.1;
$line-height--medium:       1.2;
